.cartItems {
    display: inline-block;
}

.btnCart {
    background-color: blue;
    width: 100px;
    height: 30px;
    border-radius: 5%;
    color: white;
    font-weight: bold;
    border: none;
    margin-top: 15px;
    cursor: pointer;
}

.cartCounter {
    display: block;
    width: 200px;
    border-radius: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px black solid;
    padding: 5px;
}
